.name {
    display: flex;
    flex: 1 100%;
    align-items: center;
    justify-content: center;

    background-color: white;

    height: 100vh;

    font-size: 90px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
    letter-spacing: 1px;
}