:root {
    --main-bg-color: #212121; 
    --heading-color: #eeeeee;
    --border-color: #424242;
    --main-text-color: #e0e0e0;
}

.component-wrapper {
    background-color: var(--main-bg-color);
    padding-top: 80px;
    padding-bottom: 80px;
}

.profile>.component-content {
    background-color: var(--main-bg-color);

    justify-content: center;
}

.component-heading {
    color: var(--heading-color);
}

h2 {
    font-size: 60px;
    margin-bottom: 25px;
    margin-top: 0px;

    font-weight: 300;
}

div {
    align-self: top;
}

.profile-picture-img {
    border-radius: 50%;
    border: 10px solid var(--border-color);

    display: block;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;

    flex: 1 100%;

    margin: 50px;
}

h3 {
    text-align: center;
    
    font-size: 24px;
    font-weight: 100;

    margin-top: 0px;
}

.self-description {
    flex: 1 100%;
}

.details {
    flex: 1 100%;
}

.description {
    text-align: center;

}

strong {
    display: inline-block;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;

}

.gitHubLink {
    display: flex;
    justify-content: center;
}

#link {
    width: 50px;
    cursor: pointer;
}

@media (min-width: 1024px) {

    div {
        flex: 1;
    }

    h3 {
        text-align: left;
        
        font-size: 24px;
        font-weight: 100;
    }

    .description {
        text-align: left;
        font-size: 14px;
    
        color: var(--main-text-color);
    
    }

    .self-description {
        padding-right: 20px;
        flex: 1 0;
    }

    .profile-picture-img {
        flex: 1 0;
        margin: 0;
    }
    .details {
        padding-left: 30px;
        flex: 1 0;
    }

    .gitHubLink {
        display: flex;
        justify-content: flex-start;
    }
}

