.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content {
  width: 100%;
}

.component-wrapper {
  width: auto;
  color: white;

  font-family: 'Open Sans', sans-serif !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.component-content {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
}