.experience {
    background-color: #757575 !important;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.job {
    flex: 1 0;
    text-align: left;
}

.job-description {
    flex: 3 0;
    text-align: left;
}

.job-title {
    font-size: 25px;
}

.sub-title {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 100;
}