:root {
--clicked-background-color: white;
}

.exploded-menu-container {
display: none;
}

.hamburger-container {
  position: fixed;
  left: 0;
  cursor: pointer;
  padding: 17px;
  z-index: 2;
}

.clicked .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);

  background-color: var(--clicked-background-color);
}

.clicked .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, 4px);
  transform: rotate(45deg) translate(-4px, -4px);

  background-color: var(--clicked-background-color);
}

.clicked .bar2 {
  opacity: 0;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 1px;
  background-color: #000000;
  margin: 5px 0;
  transition: 0.4s;
}

.top-nav {
  background-color: var(--menu-background-color);

  width: 100%;
  height: 0px;
  z-index: 1;
  position: fixed;
  overflow: hidden;
  transition: height .25s ease-in-out;
}

.top-nav.clicked {
  height: 100%;
}

.top-nav .links {
  padding-top: 57px;
}

.top-nav a {
  text-decoration: none;
  text-align: left;
  font-size: 17px;
  font-weight: 200;
  line-height: 2.52947;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  letter-spacing: 1.2px;
  color: white;
  padding-bottom: 8px;
  margin: 8px 40px 0px 40px;
  border-bottom: 1px solid #313131;
}

.top-nav.clicked a {
  transition: height .25s ease-in-out;
}

#active {
  color: rgb(150, 150, 150);
}

.link {
  -webkit-tap-highlight-color:transparent;
}

@media(min-width: 1000px) {
  .hamburger-container{
    display: none;
  }

  .exploded-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    margin: 25px;
    
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: black;
    color: white;

    border-radius: 3px;
  }

  .link {
    padding: 30px 15px 30px 15px;

    flex: 1;

    text-decoration: none;
    color: white;
  }

  #active {
    color: white;

    border-radius: 2px;
    background-color: rgb(100, 100, 100);
  }
}